{% style %}
  .table {
    margin-top: 2rem;
  }

  .table,
  th,
  td {
    border: 1px solid rgba(var(--color-foreground), .3);
    border-collapse: collapse;
    /* max-height: 70%; */
    width: 100%;
    height: 100%;
  }


  th,
  td {
    text-align: center;
    padding: 2rem;
  }

  th {
    font-family: var(--font-bold);
  }


  th:first-child,
  tr td:first-child {
    width: 80%;
    font-weight: 600;
    padding-left: 2rem;
    text-align: left;
  }
{% endstyle %}

<div class="product__nutritional">
  <h3>
    Nutritional Information
  </h3>
  <table class="table">
    <tbody>
      <tr>
        <th>
          Typical Values
        </th>
        <th>
          /100g
        </th>
        <th>
          %RDA
        </th>
      </tr>
      {%- if energy_kj -%}
        <tr>
          <td>
            Energy (Kj)
          </td>
          <td>
            {% assign dec_split = energy_kj | split: '.' %}
            {%- if dec_split[1] == "0" -%}
              {{ energy_kj | round }}
            {% else %}
              {{ energy_kj }}
            {% endif %}
          </td>
          <td>
            {{ energy_kj | times: 100.0 | divided_by: settings.energy_kj | round }}%
          </td>
        </tr>
      {% endif %}
      {% if energy_kcal %}
        <tr>
          <td>
            Energy (Kcal)
          </td>
          <td>
            {% assign dec_split = energy_kcal | split: '.' %}
            {%- if dec_split[1] == "0" -%}
              {{ energy_kcal | round }}
            {% else %}
              {{ energy_kcal }}
            {% endif %}
          </td>
          <td>
            {{ energy_kcal | times: 100.0 | divided_by: settings.energy_kcal | round }}%
          </td>
        </tr>
      {% endif %}
      {% if fat %}
        <tr>
          <td>
            Fat (g)
          </td>
          <td>
            {% assign dec_split = fat | split: '.' %}
            {%- if dec_split[1] == "0" -%}
              {{ fat | round }}
            {% else %}
              {{ fat }}
            {% endif %}
          </td>
          <td>
            {{ fat | times: 100.0 | divided_by: settings.fat | round }}%
          </td>
        </tr>
      {% endif %}
      {% if fat_saturates %}
        <tr>
          <td>
            of which saturates (g)
          </td>
          <td>
            {% assign dec_split = fat_saturates | split: '.' %}
            {%- if dec_split[1] == "0" -%}
              {{ fat_saturates | round }}
            {% else %}
              {{ fat_saturates }}
            {% endif %}
          </td>
          <td>
            {{ fat_saturates | times: 100.0 | divided_by: settings.fat_saturates | round }}%
          </td>
        </tr>
      {% endif %}
      {% if carbs %}
        <tr>
          <td>
            Carbohydrates (g)
          </td>
          <td>
            {% assign dec_split = carbs | split: '.' %}
            {%- if dec_split[1] == "0" -%}
              {{ carbs | round }}
            {% else %}
              {{ carbs }}
            {% endif %}
          </td>
          <td>
            {{ carbs | times: 100.0 | divided_by: settings.carbs | round }}%
          </td>
        </tr>
      {% endif %}
      {% if carbs_sugar %}
        <tr>
          <td>
            of which sugars (g)
          </td>
          <td>
            {% assign dec_split = carbs_sugar | split: '.' %}
            {%- if dec_split[1] == "0" -%}
              {{ carbs_sugar | round }}
            {% else %}
              {{ carbs_sugar }}
            {% endif %}
          </td>
          <td>
            {{ carbs_sugar | times: 100.0 | divided_by: settings.carbs_sugar | round }}%
          </td>
        </tr>
      {% endif %}
      {% if protein %}
        <tr>
          <td>
            Protein (g)
          </td>
          <td>
            {% assign dec_split = protein | split: '.' %}
            {%- if dec_split[1] == "0" -%}
              {{ protein | round }}
            {% else %}
              {{ protein }}
            {% endif %}
          </td>
          <td>
            {{ protein | times: 100.0 | divided_by: settings.protein | round }}%
          </td>
        </tr>
      {% endif %}
      {% if salt %}
        <tr>
          <td>
            Salt
          </td>
          <td>
            {% assign dec_split = salt | split: '.' %}
            {%- if dec_split[1] == "0" -%}
              {{ salt | round }}
            {% else %}
              {{ salt }}
            {% endif %}
          </td>
          <td>
            {{ salt | times: 100.0 | divided_by: settings.salt | round }}
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
